body {
    background-color: rgb(31, 119, 201);
    font: normal 15pt Arial;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    color: white;
    text-align: center;
  }
  
  div {
    text-align: center;
    padding: 5px;
  }
  
  section {
    background: white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    width: 30%;
    height: 30vh;
  }
  
  footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 0;
  }
  
  tr {
    cursor: pointer;
    user-select: none;
    color:red;
  }
  
  table {
    display: inline-block;
    margin: auto;
  }
  
  .table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  